<div class="p-5 container">
    <div class="row justify-content-between">
        <div class="col-12 col-xl-5">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/kaleb.PNG">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Kaleb Juliu</h5>
                            <p class="card-text">00000033577<br>Universitas Multimedia Nusantara<br>kaleb.juliu@student.umn.ac.id</p>
                            <a href="https://www.instagram.com/kaleb_juliu/">
                                <i class="fab fa-instagram" style="font-size: 1.5em;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-5">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/maurice.PNG">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Maurice Marvin</h5>
                            <p class="card-text">00000033942<br>Universitas Multimedia Nusantara<br>maurice.marvin@student.umn.ac.id</p>
                                <a href="https://www.instagram.com/vinzmcs/">
                                    <i class="fab fa-instagram" style="font-size: 1.5em;"></i>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        
    </div>
    <div class="row justify-content-between my-5">
        <div class="col-12 col-xl-5">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/sergio.PNG">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Sergio Nathaniel</h5>
                            <p class="card-text">00000033898<br>Universitas Multimedia Nusantara<br>sergio.nathaniel@student.umn.ac.id</p>
                                <a href="https://www.instagram.com/sergioo890/">
                                    <i class="fab fa-instagram" style="font-size: 1.5em;"></i>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-5">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/riki.PNG">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Ricky Tandiono</h5>
                            <p class="card-text">00000034209<br>Universitas Multimedia Nusantara<br>ricky.tandiono@student.umn.ac.id</p>
                                <a href="https://www.instagram.com/tandionoricky/">
                                    <i class="fab fa-instagram" style="font-size: 1.5em;"></i>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        
    </div>

</div>